* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
	width: .7em;
}
::-webkit-scrollbar-track {
	background: #EAEBE4;
}
::-webkit-scrollbar-thumb {
	background: #333;
}

body {
  background-color: #B3BFC5;
}

h1 {
  text-align: center;
  margin: 2em;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  margin: .8em 0;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  margin: .8em 0;
  text-align: center;
  font-size: 2.5em;
  color: #50F8AD;
}

.charts_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}

.chart {
  background-color: #fff;
  margin: 15px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: fit-content;
}

text.value_labels {
  fill:black;
  font-size: 1em;
}

.tick text {
  fill: black;
  font-size: 1.30em;
  padding: 2em;
}

#total_sizes_chart .bar {
  fill: #8FCCA0;
}

#total_languages_count_chart .bar {
  fill: #F9B48A;
}

#total_issues_count_chart {
  fill: #6BBDE5;
}

#total_pull_requests_count_chart {
  fill: #9977B4;
}