* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
::-webkit-scrollbar {
	width: .7em;
}
::-webkit-scrollbar-track {
	background: #EAEBE4;
}
::-webkit-scrollbar-thumb {
	background: black;
}
::-webkit-scrollbar-thumb:hover {
	background: #333;
}
body {
  background-color: #EAEBE4;
}

h1 {
  text-align: center;
  margin: 2em;
}

.charts_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-evenly;
}

.chart {
  background-color: #fff;
  margin: 35px;
  padding: 35px;
  border-radius: 2em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

text.value_labels {
  fill:black;
  font-size: 1em;
}

.tick text {
  fill: black;
  font-size: 1.30em;
  padding: 2em;
}

#total_sizes_chart .bar {
  fill: #92C7B1;
}

#total_languages_count_chart .bar {
  fill: #F2CC8E;
}